# IntelliJ IDEA
.idea/
*.iml

# Build files
target/
out/

# Compiled Java files
*.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Project ZIP files
*.zip

# Resources if not required in Git
cms_swing/src/main/resources/